####################
# Python artifacts #
####################
*.pyc
*.pyo
__pycache__

###################
# Build artifacts #
###################
*.egg-info
*.egg
build
dist

##################
# Test artifacts #
##################
.mypy_cache


######################
# Coverage artifacts #
######################
.coverage
htmlcov/

##################
# Docs artifacts #
##################
docs/_build
docs/modules.rst
docs/requests-splash.*


##############
# Virtualenv #
##############
.venv
